@{
    ViewBag.Title = "Гараж";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Гараж</h2>

    <div class="actions">
        <div class="action">
            @Html.ActionLink("Добавить автомобиль", "AddCar")
        </div>
    </div>

    <div class="car_item">
        <div class="car_img">
            <img height="120" width="120" src="../../Content/Samples/sample_img.jpg" alt="" />
        </div>
        <h3> @Html.ActionLink("Ваз 2111", "CarInfo")</h3>
        <br />
        @Html.ActionLink("События", "Events") <br />
        @Html.ActionLink("Статистика", "Statistics") <br />
        @Html.ActionLink("Редактировать", "EditCar") <br />
        @Html.ActionLink("Удалить", "") <br />

    </div>

    <div class="car_item">
        <div class="car_img">
            <img height="120" width="120" src="../../Content/Samples/sample_img.jpg" alt="" />
        </div>
        <h3> @Html.ActionLink("Ваз 2111", "CarInfo")</h3>
        <br />
        @Html.ActionLink("События", "Events") <br />
        @Html.ActionLink("Статистика", "Statistics") <br />
        @Html.ActionLink("Редактировать", "EditCar") <br />
        @Html.ActionLink("Удалить", "") <br />

    </div>

    <div class="car_item">
        <div class="car_img">
            <img height="120" width="120" src="../../Content/Samples/sample_img.jpg" alt="" />
        </div>
        <h3> @Html.ActionLink("Ваз 2111", "CarInfo")</h3>
        <br />
        @Html.ActionLink("События", "Events") <br />
        @Html.ActionLink("Статистика", "Statistics") <br />
        @Html.ActionLink("Редактировать", "EditCar") <br />
        @Html.ActionLink("Удалить", "") <br />

    </div>

    <div class="car_item">
        <div class="car_img">
            <img height="120" width="120" src="../../Content/Samples/sample_img.jpg" alt="" />
        </div>
        <h3> @Html.ActionLink("Ваз 2111", "CarInfo")</h3>
        <br />
        @Html.ActionLink("События", "Events") <br />
        @Html.ActionLink("Статистика", "Statistics") <br />
        @Html.ActionLink("Редактировать", "EditCar") <br />
        @Html.ActionLink("Удалить", "") <br />

    </div>

    <div class="car_item">
        <div class="car_img">
            <img height="120" width="120" src="../../Content/Samples/sample_img.jpg" alt="" />
        </div>
        <h3> @Html.ActionLink("Ваз 2111", "CarInfo")</h3>
        <br />
        @Html.ActionLink("События", "Events") <br />
        @Html.ActionLink("Статистика", "Statistics") <br />
        @Html.ActionLink("Редактировать", "EditCar") <br />
        @Html.ActionLink("Удалить", "") <br />

    </div>