@model VirtualGarage.Models.TrustCarModel

@{
    ViewBag.Title = "Доверить автомобиль";
    Layout = "~/Views/Shared/_Layout_Garage.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@section GarageContent
{
<h2>Доверить автомобиль</h2>

    @Html.ValidationSummary(true, "Не удалось доверить автомобиль")

    <p>Введите E-mail пользователя, которому вы хотите доверить ваш автомобиль. 
    Если пользователь с таким E-mail'ом существует, в его гараже будет отображаться 
    ваш автомобиль</p>

    @using (Html.BeginForm())
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <input class="button" type="submit" value="Доверить" />
    }

}