@model VirtualGarage.Models.LoginModel

@{
    ViewBag.Title = "Ошибка при входе";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Ошибка при входе</h2>
    @Html.ValidationSummary(false, "Не удалось произвести вход")

@using (Html.BeginForm())
{
    <span>Впервые на сайте? Перейдите к  @Html.ActionLink("регистрации", "Register", "Account").</span>
    <br />
    <span>Забыли пароль? Пройдите процедуру @Html.ActionLink("восстановления пароля", "ForgotPassword", "Account").</span>
    

    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UserName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.CheckBoxFor(model => model.IsRememberMe)
        Запомнить меня
    </div>
    <input class="button" type="submit" value="Войти" />
}  
