@model VirtualGarage.Models.ChangePasswordModel

@{
    ViewBag.Title = "Изменить пароль";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h2>Изменить пароль</h2>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true, "Не удалось изменить пароль");
    
    <div class="editor-label">
        @Html.LabelFor(model => model.OldPassword)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model => model.OldPassword)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.NewPassword)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <input class="button" type="submit" value="Сменить пароль" />

}