@model VirtualGarage.Models.OutgoingMessagesModel

@{
    ViewBag.Title = "Отправленные сообщения";
    Layout = "~/Views/Shared/Layouts/_Layout_Messages.cshtml";
}

@section MessagesContent
{

    <div id="table_messages">
        <table>
            <tbody>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("mess1")</td>
                    <td>
                        @Html.ActionLink("i.ivanov", "MyCars", "Garage")
                        <br />
                        22 сентября 2011г. в 15:55
                    </td>
                    <td>
                        @Html.ActionLink("Покупка карбюратора", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "")
                    </td>
                    <td>
                        @Html.ActionLink("Написать", "SendMessage", "Default")
                    </td>
                </tr>
            </tbody>              
        </table>
    </div>

}
